@import url("https://unpkg.com/modern-css-reset/dist/reset.min.css");

@font-face {
  font-display: swap;
  font-family: 'Young Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/young-serif-v2-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/outfit-v11-latin-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/outfit-v11-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/outfit-v11-latin-700.woff2') format('woff2');
}

:root {
  --color-primary-nutmeg: hsl(14, 45%, 36%);
  --color-primary-dark-raspberry: hsl(332, 51%, 32%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-rose-white: hsl(330, 100%, 98%);
  --color-neutral-eggshell: hsl(30, 54%, 90%);
  --color-neutral-light-grey: hsl(30, 18%, 87%);
  --color-neutral-wenge-brown: hsl(30, 10%, 34%);
  --color-neutral-dark-charcoal: hsl(24, 5%, 18%);

  --font-primary: "Young Serif", sans-serif;
  --font-secondary: "Outfit", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --font-size-sm: 1.25rem;
  --font-size-md: 1.75rem;
  --font-size-lg: 2.5rem;
  --font-size: 1rem;
}

body {
  background-color: var(--color-neutral-eggshell);
  color: var(--color-neutral-wenge-brown);
  font: var(--font-weight-regular) var(--font-size) / 1.6 var(--font-secondary);
  margin: 7.5rem 0;
}

.recipe__title,
.recipe__subtitle-small {
  font: var(--font-weight-regular) var(--font-size-md) / 1 var(--font-primary);
  color: var(--color-primary-nutmeg);
  margin-bottom: 1.5rem;
}

.recipe__subtitle-big {
  font: var(--font-weight-medium) var(--font-size-sm) / 1 var(--font-secondary);
  color: var(--color-primary-dark-raspberry);
  margin-bottom: 1rem;
}

.list__item-bold {
  font-weight: var(--font-weight-bold);
}

.list__item-bold--colored {
  color: var(--color-primary-nutmeg);
}

.list{
  padding: 0 1.5rem;
}

.list__item {
  padding-left: 1rem;
}

.list > * + * {
  margin-top: .5rem;
}

.list__item::marker {
  color: var(--color-primary-nutmeg);
  font-weight: var(--font-weight-bold);
}

.flow > * + * {
  margin-top: 2rem;
}

.recipe {
  background-color: var(--color-neutral-white);
  border-radius: 1.5rem;
  padding: 2.5rem;
  max-width: 46rem;
  width: 100%;
  margin: 0 auto;
}

.recipe__img {
  border-radius: 0.75rem;
  height: auto;
}

.recipe__title {
  font: var(--font-weight-regular) var(--font-size-lg) / 1 var(--font-primary);
  color: var(--color-neutral-dark-charcoal);
}

.recipe__preparation {
  background-color: var(--color-neutral-rose-white);
  border-radius: .75rem;
  padding: 1.75rem;
}

.recipe__ingredients--bordered,
.recipe__instructions--bordered {
  border-bottom: 1px solid var(--color-neutral-light-grey);
  padding-bottom: 2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

.table__data{
  padding: 0.75rem 2rem;
  text-align: left;
  border-bottom: 0.0625rem solid var(--color-neutral-light-grey);
}

@media (max-width: 34.375rem) {
  body {
    margin: 0;
  }

  .recipe {
    border-radius: 0;
    padding: 0 2rem 2rem;
  }

  .recipe__figure {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .recipe__img {
    border-radius: 0;
  }

  .recipe__title {
    font-size: 2.25rem;
  }

  .recipe__preparation {
    padding: 1.5rem;
  }

  .table tr:last-child .table__data {
    border-bottom: none;
  }
}
